
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.section {
	background-color: rgb(243, 243, 164);
	padding: 10px;
	margin: 5px;
}

.section__header {
	color: #1460AA;
	background: #e9cc4a;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 16px;
	text-align: center;
}

.article {
	background-color: bisque;
	border-radius: 5%;
	padding: 10px;
}

.article__header {
	background-color: rgb(216, 241, 233);
	color: rgb(46, 98, 241);
	padding: 5px;
	text-align: center;

}

.article__header--special {
	background-color: rgb(235, 17, 144);
	color: rgb(236, 195, 233);
	text-align: center;
}

.navigation {
	background-color: rgb(131, 196, 131);
	padding: 12px; 
	margin-top: 8px;
}

.navigation__link {
	color: darkgreen;
	padding-left: 10px;

}
body {
	background: #c2eba0;
}

.pink-header {
	color: rgb(240, 21, 174);
	background-color: rgb(243, 191, 234);
}

.take-it {
	color: inherit;
}

.crazy {
	color:rgb(241, 117, 16);
}

section {
	padding: 16px;
}

h1 {
	padding: 16px;
}

footer {
	padding: 16px;
}
